button {
  background: none;
  border: 0;
  box-sizing: border-box;
  box-shadow: inset 0 0 0 0px $n0;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  padding-left: 18px !important;
  padding-right: 18px !important;

  &::before,
  &::after {
    box-sizing: inherit;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
}

.button {
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border-radius: 3px;
  padding: 12px 28px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: auto;

  &-icon {
    padding-left: 18px;
    padding-right: 18px;
  }

  &-transparent-icon {
    padding: 6px 18px 2px;
    font-size: 28px;
  }

  &-transparent {
    padding: 6px 18px 2px;

    &:first-child {
      margin-left: -18px;
    }
  }

  &-dark {
    background-color: #373a38;
    color: $bg-color;
    transition: background-color 0.2s ease;
    -webkit-transition: background-color 0.2s ease;
    -moz-transition: background-color 0.2s ease;
    -o-transition: background-color 0.2s ease;

    &:hover {
      background-color: #4f5351;
      color: $bg-color;
      text-decoration: none;
      transition: background-color 0.25s ease;
      -webkit-transition: background-color 0.25s ease;
      -moz-transition: background-color 0.25s ease;
      -o-transition: background-color 0.25s ease;
    }
  }

  &-light {
    background-color: $bg-color;
    color: #373a38;

    &:hover {
      background-color: #ededf1;
      color: #373a38;
      text-decoration: none;
    }
  }

  &-light-outline {
    border: 1.5px solid $n0;
    border-radius: 3px;
    color: $n0;
    transition: background-color 0.2s ease, color 0.2s ease;
    -webkit-transition: background-color 0.2s ease, color 0.2s ease;
    -moz-transition: background-color 0.2s ease, color 0.2s ease;
    -o-transition: background-color 0.2s ease, color 0.2s ease;

    &:hover {
      background: $n0;
      text-decoration: none;
      transition: background-color 0.25s ease, color 0.2s ease;
      -webkit-transition: background-color 0.25s ease, color 0.2s ease;
      -moz-transition: background-color 0.25s ease, color 0.2s ease;
      -o-transition: background-color 0.25s ease, color 0.2s ease;
    }
  }

  &-transparent-light-draw {
    background-color: none;
    color: $n0;

    &:hover {
      color: $n0;
      text-decoration: none;
    }
  }

  &-transparent-dark-draw {
    background-color: none;
    color: $heading-color;

    &:hover {
      color: $heading-color;
      text-decoration: none;
    }
  }

  &-transparent-light {
    background-color: none;
    color: $bg-color;

    &:hover {
      background-color: rgba(255, 255, 255, 0.3);
      color: #ededf1;
      text-decoration: none;
    }
  }
}