html {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Karla", Arial, Helvetica, sans-serif;
  background-color: $n0;
  color: $body-color;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
  max-width: 100%;
  overflow-x: hidden;
}

.container {
  max-width: 100%;

  &-center {
    margin: auto;
  }
}

.body {
  &-text {
    &-light {
      color: $text-light;
    }
  }
}

.text {
  &-center {
    text-align: center;
  }
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.home {
  &-logo {
    width: 200px;
    margin: auto;
    padding-bottom: 1rem;
  }

  &-bg {
    background-image: url(../img/home-bg.png);
    background-position: center;
  }
}

@media (max-width: 512px) {
  .home {
    &-bg {
      background-image: url(../img/home-bg-mobile.png);
    }
  }
}