html {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Chivo", Arial, Helvetica, sans-serif;
  background-color: $n0;
  color: $body-color;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
  max-width: 100%;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}

::selection {
  background: $green-highlight;
  color: $text-light;
}

::-moz-selection {
  background: $green-highlight;
  color: $text-light;
}

.container {
  max-width: 100%;

  &-center {
    margin: auto;
  }
}

.body {
  &-text {
    &-light {
      color: $text-light;
    }
    &-dark {
      color: $text-dark;
    }
  }
}

.text {
  &-center {
    text-align: center;
  }
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

// .field-shift {
//   left: -9999px; position: absolute !important;
// }

// html[dir="rtl"] .field-shift {
//   right: -9999px !important;
//   left: auto !important;
// }

.project-row {
  padding: 3rem 3rem;
  // margin-right: -1rem;
  // margin-left: -1rem;
  margin-bottom: auto;

  &-element {
    padding: 1rem;
  }
}

.home {

  &-hero {
    // background: $bg-color;
    color: $text-light;
    border-radius: 8px;
    padding: 0rem 4rem;

    &-emailForm {
      margin-top: 2rem;
    }
  }

  &-logo {
    width: 200px;
    margin: auto;
    padding-bottom: 1rem;
  }

  &-bg {
    background: url(../img/home-bg.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

// .imageDescription {
//   &-left {
//     padding-right: 2rem;
//   }
// }

.caption {
  padding-top: .5rem;
  color: $subtitle;
  font-size: 14px;
}

.link {
  &-primary {
    color: $action-primary;
    &:hover {
      text-decoration: underline;
    }
  }

}

.topNav {
  position: relative;
  padding: 2rem 4rem;
  margin-bottom: 0rem;

  a {
    margin-right: 1.5rem;

    &:last-child {
      margin-right: 0;
    }
  }

  &-links {
    margin: auto;

    &-left {
      text-align: left;
    }

    &-right {
      text-align: right;
    }
  }

  &-link {
    margin: auto 0;
    margin-right: 1.5rem;

    &:last-child {
      margin-right: 0;
    }
  }

  &-socialIcon {
    width: 26px;
    height: 26px;
    transition: opacity .2s ease-in-out;

    &:hover {
      opacity: 0.7;
    }
  }

  &-logo {
    margin: auto;

    &-image {
      width: 160px;
    }
  }

  &-light {
    &-link {
      color: $link-color-light;
      transition: border-color .1s ease-in-out;
      border-bottom: 1.5px solid transparent;
      padding-bottom: 4px;

      &-selected {
        border-color: $text-light;
      }

      &:hover {
        border-color: $text-light;
      }
      &:active {
        border-color: $text-light;
      }
    }
  }

  &-dark {
    &-link {
      color: $link-color-dark;
      transition: border-color .1s ease-in-out;
      border-bottom: 1.5px solid transparent;
      padding-bottom: 4px;

      &-selected {
        border-color: $link-color-dark;
      }

      &:hover {
        border-color: $link-color-dark;
      }
      &:active {
        border-color: $link-color-dark;
      }
    }
  }
}

.footer {
  position: relative;
  padding: 2rem 0;

  &-border-light {
    border-top: solid 1px $n0;
    margin: 0 4rem;
  }

  &-border-dark {
    // position: fixed;
    // bottom: 0;
    // left: 0;
    // right: 0;
    // width: 100%;
    border-top: solid 1px $n900;
    margin: 0 4rem;
  }

  a {
    margin-right: 1.5rem;

    &:last-child {
      margin-right: 0;
    }
  }

  &-links {
    margin: auto;

    &-right {
      text-align: right;
    }

    &-left {
      text-align: left;
    }

    &-center {
      text-align: center;
    }
  }

  &-socialIcon {
    width: 26px;
    height: 26px;
  }

  &-logo {
    margin: auto;

    &-image {
      width: 140px;
    }
  }

  &-light {
    &-link {
      color: $link-color-light;
      transition: opacity .2s ease-in-out;

      &:hover {
        opacity: 0.7;
      }
    }

    &-text {
      color: $link-color-light;
    }
  }

  &-dark {
    &-link {
      color: $link-color-dark;
      transition: opacity .2s ease-in-out;

      &:hover {
        opacity: 0.7;
      }
    }

    &-text {
      color: $text-dark;
    }
  }
}


.inputField {
  border-radius: 6px;
  border: none;
  padding: 1rem;
  margin-right: .5rem;
  font-family: "Chivo", Arial, Helvetica, sans-serif;
  font-size: 16px;
  transition: box-shadow .2s ease-in-out;

  &:focus {
    outline: none !important;
    box-shadow: 0 0 0 2pt #51AE7D;
  }
}

.inputSubmit {
  font-family: "Chivo", Arial, Helvetica, sans-serif;
  border-radius: 100px;
  border: none;
  padding: 1rem;
  background: #51AE7D;
  color: $text-light;
  font-size: 16px;
  font-weight: 600;
  transition: background .2s ease-in-out;

  &:hover {
    background: rgb(71, 168, 116);
  }

  &:focus {
    outline: none;
  }

}


@media (max-width: 576px) {
  .project-row {
    padding: 1rem;
  }
  .home {
    &-bg {
      background: url(../img/home-bg-mobile.png) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

    &-hero {
      padding: 3rem 2rem 4rem 2rem;
    }
  }

  .inputField {
    margin-bottom: 1rem;
    width: 100%;
  }

  .inputSubmit {
    margin-bottom: 1rem;
    width: 100%;
  }


  .footer {
    &-links {
      &-right {
        text-align: center;
      }

      &-left {
        text-align: center;
        padding-bottom: 1rem;
      }

      &-center {
        text-align: center;
        padding-bottom: 1rem;
      }

    }
  }

  .topNav {
    padding: 2rem;

    &-logo {
      margin: auto;

      &-image {
        width: 140px;
      }
    }
  }

  .footer {
    &-border-dark {
      margin: 0 2rem;
    }
    &-border-light {
      margin: 0 2rem;
    }
  }
}

@media (min-width: 576px) and (max-width:768px) {
  .footer {
    &-links {
      &-center {
        display: none;
      }
    }
  }
}

@media (max-width: 600px) {
  .tag-light {
    display: none;
  }
}