h1 {
  font-family: 'Averia Libre', serif;
  font-size: 22px;
}

h2 {
  font-family: 'Averia Libre', serif;
  color: $heading-color;
  font-size: 18px;
  letter-spacing: 0.3px;
}

h3 {
  font-family: 'Averia Libre', serif;
  text-transform: uppercase;
  position: relative;
  color: $heading-color;
  font-size: 1.5em;
  letter-spacing: 1px;
}

h4 {
  font-family: 'Averia Libre', serif;
  color: $heading-color;
  font-size: 16px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}

h5 {
  font-family: 'Averia Libre', serif;
  color: $heading-color;
  font-size: 48px;
  line-height: 1.15em;
  margin-bottom: 1rem;
  font-weight: bold;
  letter-spacing: -.01rem;
}

h6 {
  font-family: 'Averia Libre', serif;
  color: $heading-color;
  font-size: 64px;
  letter-spacing: -0.05em;
  text-align: center;
}

p {
  font-family: "Chivo", Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: $link-color;
}

@media (min-width: 512px) and (max-width: 768px) {
  h5 {
    font-size: 40px;
  }
}

@media (max-width: 512px) {
  h5 {
    font-size: 34px;
  }

  h6 {
    font-size: 100px;
  }
}