$n0: #ffffff;
$n20: #f6f4f1;
$n30: #f0eeea;
$n40: #edeae6;
$n400: #4f5351;
$n500: #373a38;

$n900: #2e2d2c;

$g20: #3fb761;
$g30: #3ea45b;
$g60: #3d8f54;
$g900: #45564D;

$b60: #2D9FDA;

$bg-color: $n0;
$link-color: $b60;
$link-color-light: $n0;
$text-light: $n0;
$body-color: $n900;
$heading-color: $n900;

$brn60: #88563C;
$pnk60: #DD5E86;

$brown-primary: $brn60;
$pink-primary: $pnk60;
$green-primary: $g900;
$green-highlight: rgba(61, 143, 84, 0.7);

$button-dark-bg: $n500;
$button-dark-bg-hover: $n400;