$bg-color: #f9f9fa;
$n20: #f6f4f1;
$n30: #f0eeea;
$n40: #edeae6;
$n50: #e1cdb0;
$heading-color: #2e2d2c;
$green: #3d8f54;
$green-highlight: rgba(61, 143, 84, 0.7);
$g30: #3ea45b;
$g20: #3fb761;
$yellow: #a16b1b;
$yellow-highlight: rgba(161, 107, 27, 0.7);
